body {
    background-color: #0b0f1a;
    color: white;
    font-family: Arial;
    padding: 30px;
}

h1 {
    color: #00c3ff;
}

.search-container {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    width: 250px;
}

button {
    padding: 8px 12px;
    background-color: #00c3ff;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.card {
    background-color: #111827;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
}
